
@media print {
    #printableContent {
      width: 90%; /* Set width to 90% of the printable area */
      padding: 5mm; /* Reduce padding to fit more content on the page */
      margin: 0 auto; /* Center the content */
    }

    #printableTable {
        font-size: 10px; /* Reduce font size for a more compact look */
        page-break-inside: avoid; /* Prevent table rows from splitting across pages */
    }
    

    .table th,
    .table td {
      padding: 2px 6px; /* Further reduce padding in table cells */
      word-break: break-word;
    }

    .table thead {
      position: static;
      background-color: #28a745;
    }

    body {
      margin: 0;
    }

    @page {
      size: A4;
      margin: 10mm;
    }
}
