
.rowBgColor {
  background-color: #D1E7DD;
}

/* Keyframes animation for sliding in from the right */
@keyframes slideInRightEnd {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply styles to the element */
.slide-in {
  position: absolute; /* or position: fixed; depending on need */
  top: 0; /* or set your desired vertical positioning */
  right: 0; /* or left: 0 for sliding from left */
  animation: slideInRightEnd 0.5s ease-out; /* Animation for smooth sliding */
}


@media print {
    #printableContent {
      width: 90%; /* Set width to 90% of the printable area */
      padding: 5mm; /* Reduce padding to fit more content on the page */
      margin: 0 auto; /* Center the content */
    }

    #printableTable {
        font-size: 10px; /* Reduce font size for a more compact look */
        page-break-inside: avoid; /* Prevent table rows from splitting across pages */
    }
    

    .table th,
    .table td {
      padding: 2px 6px; /* Further reduce padding in table cells */
      word-break: break-word;
    }

    .table thead {
      position: static;
      background-color: #28a745;
    }

    body {
      margin: 0;
    }

    @page {
      size: A4;
      margin: 10mm;
    }
}
