
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-custom-color-green {
    background-color: #004d00 !important; 
    
}

.bg-custom-color-yellow {
    background-color: #F7FE28 !important; 
}

.custom-font {
    font-family: 'Josefin Sans', sans-serif !important;
}

.custom-color-font {
    color: #F7FE28 !important;
}

.custom-color-green-font {
  color: #004d00 !important;
}

/* Custom button styles */
.custom-button {
  padding: 10px;
  font-size: 1.5rem;  
  width: 100%;        
  height: 3rem;
  cursor: pointer; 
  background-color: #F7FE28; /* Same as bg-custom-color-yellow */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover state for the button */
.custom-button:hover {
  background-color: #dfe625 !important; /* Darker shade for hover */
}

.card-success {
  max-height: 70vh; /* Restrict table height */
  overflow-y: auto; /* Scrollable if content exceeds height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.table {
  width: 100% !important; 
  table-layout: auto !important;
}

tbody {
  overflow-y: auto !important;
}





.custom-input {
    padding: 10px;
    padding-right: 5px;
    font-size: 1.5rem;  
    width: 100%;        
    height: 3rem;       
}

.logo {
    position: absolute;
    left: 15px; 
    top: 10px; 
  
      width: 100px; 
    
    height: auto;
}

.logo-dash {
    position: absolute;
    left: 15px; 
    top: 10px; 
    width: 40px; 
    height: auto;
}

.btn-back {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #F7FE28;
    cursor: pointer;
    padding: 10px;
}

.miniPCClogo {
  display: none;
}

.close-sidebar-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-sidebar-btn:hover {
  color: red;
}

.btn-bg-custom-color-green {
  background-color: #004d00 !important;
}


.btn-bg-custom-color-green:hover {
  background-color: #035c03 !important; /* Change to your desired lighter shade */
  transition: background-color 0.3s ease !important; /* Smooth transition effect */
  font-weight: 600;
}



/*LOGIN PAGE PHONE VIEW*/

@media (max-width: 767.98px) {
    .PCClogo {
      display: none;
    }
    
    .col-md-6 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .min-vh-100 {
      min-height: 50vh; 
    }

    .miniPCClogo {
      display:  block;

    }
    .sidebar {
      z-index: 99;
      position: fixed;
    }

  }



  
  



  
  





