
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-custom-color-green {
    background-color: #004d00 !important; 
    
}

.bg-custom-color-yellow {
    background-color: #F7FE28 !important; 
}

.custom-font {
    font-family: 'Josefin Sans', sans-serif;
}

.custom-color-font {
    color: #F7FE28 !important;
}

.custom-color-green-font {
  color: #004d00 !important;
}

.custom-button {
    padding: 10px;
    font-size: 1.5rem;  
    width: 100%;        
    height: 3rem;
    cursor: pointer;       
}

.custom-input {
    padding: 10px;
    padding-right: 5px;
    font-size: 1.5rem;  
    width: 100%;        
    height: 3rem;       
}

.logo {
    position: absolute;
    left: 15px; 
    top: 10px; 
  
      width: 100px; /* Adjust logo size if needed */
    
    height: auto;
}

.logo-dash {
    position: absolute;
    left: 15px; 
    top: 10px; 
    width: 40px; 
    height: auto;
}

.btn-back {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #F7FE28;
    cursor: pointer;
    padding: 10px;
}

/*LOGIN PAGE*/

@media (max-width: 767.98px) {
    /* Hide the logo image on phone screens */
    .PCClogo {
      display: none;
    }
    
    /* Make sure the buttons and text remain visible and properly aligned */
    .col-md-6 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    /* Adjust the min-height of the content column for mobile */
    .min-vh-100 {
      min-height: 50vh; /* You can adjust the height as necessary */
    }
  }



  
  





