
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  z-index: 1;
}

body.modal-open {
  overflow: auto !important; /* Override the overflow: */
  padding-right: 0 !important; /* This is often also added by bootstrap and may need overriding */
}
.modal {
  z-index: 1060 !important; /* Ensure the modal is on top */
}

.modal-backdrop {
  z-index: 1050 !important;
  opacity: 0.5 !important;
}

.bg-custom-color-green {
    background-color: #004d00 !important; 
    
}

.bg-custom-color-green-btn {
  background-color: #004d00 !important; 
  
}

.bg-custom-color-green-btn:hover {
  background-color: #0d650d !important; 
  
}

.bg-custom-color-green-btn:focus {
  background-color: #0d650d !important;
}

.bg-custom-color-yellow {
    background-color: #F7FE28 !important; 
}

.custom-font {
    font-family: 'Josefin Sans', sans-serif !important;
}

.custom-color-font {
    color: #F7FE28 !important;
}

.custom-color-green-font {
  color: #004d00 !important;
}

/* Custom button styles */
.custom-button {
  padding: 10px;
  font-size: 1.5rem;  
  width: 100%;        
  height: 3rem;
  cursor: pointer; 
  background-color: #F7FE28; /* Same as bg-custom-color-yellow */
  transition: background-color 0.3s ease; /* Smooth transition */
}

/* Hover state for the button */
.custom-button:hover {
  background-color: #dfe625 !important; /* Darker shade for hover */
}

.card-success {
  max-height: 70vh; /* Restrict table height */
  overflow-y: auto; /* Scrollable if content exceeds height */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.table {
  width: 100% !important; 
  table-layout: auto !important;
}

tbody {
  overflow-y: auto !important;
}





.custom-input {
    padding: 10px;
    padding-right: 5px;
    font-size: 1.5rem;  
    width: 100%;        
    height: 3rem;       
}

.logo {
    position: absolute;
    left: 15px; 
    top: 10px; 
  
      width: 100px; 
    
    height: auto;
}

.logo-dash {
    position: absolute;
    left: 15px; 
    top: 10px; 
    width: 40px; 
    height: auto;
}

.btn-back {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #F7FE28;
    cursor: pointer;
    padding: 10px;
}

.miniPCClogo {
  display: none;
}

.close-sidebar-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-sidebar-btn:hover {
  color: red;
}

.btn-bg-custom-color-green {
  background-color: #004d00 !important;
}


.btn-bg-custom-color-green:hover {
  background-color: #035c03 !important; /* Change to your desired lighter shade */
  transition: background-color 0.3s ease !important; /* Smooth transition effect */
  font-weight: 600;
}


.modal-xxl .modal-dialog {
  max-width: 90%;
  width: 90%;
  display: block !important;
visibility: visible !important;
opacity: 1 !important;
z-index: 1050 !important; /* Ensure it's above other elements */

}

.modal-xxl .modal-content {
  font-size: 12px;
}
.custom-modal-dialog .modal-dialog {
  max-width: 90% !important; /* Set the desired width */
  width: 100% !important; /* Ensure it takes the full width */
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.fade {
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 3s ease-in-out;
}

.image-container img.fade {
  opacity: 1;
}

/* COGModalPrint.css */
@media print {
  @page {
    size: landscape;
    margin: 0.5cm;
  }
  
  /* Hide everything except the modal content */
  body * {
    visibility: hidden;
  }

  /* Show modal content */
  .modalcontent, .modalcontent * {
    visibility: visible;
  }

  /* Position modal in the print area */
  .modalcontent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* Optional: Adjust font sizes and spacing */
  .modalcontent h1 {
    font-size: 20px;
  }
  
  /* Add additional styling as needed */
}
.hide-scrollbar {
  overflow-y: auto; /* Ensures vertical scrolling */
  scrollbar-width: auto; /* Hides scrollbar in Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, Edge */
}


  @media (max-width: 768px) {
    .hide-scrollbar {
      max-height: 100vh; /* Adjust for smaller screens */
    }
    .PCClogo {
      display: none;
    }
    
    .col-md-6 {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .min-vh-100 {
      min-height: 50vh; 
    }

    .miniPCClogo {
      display:  block;

    }
    .sidebar {
      z-index: 99;
      position: fixed;
    }
  }
  
  @media (min-width: 769px) {
    .hide-scrollbar {
      max-height: 100vh; /* Adjust for larger screens */
    }
  }
  
  .logo-image {
    max-width: 100px; /* Adjust the size as needed */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  


  
  

  
  
